<%- include("partials/header") -%>
<h1>A propos de Crud app</h1>

<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem quasi minus,
  alias nihil quod eum dolores porro perferendis quam vitae facere hic ut? Rerum
  aliquid, consequuntur dolore unde aut corporis.
</p>

<%- include("partials/footer") -%>
